body {
  padding: 0 0;
  margin: 0;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header, footer, nav, a {
  display: flex;
  text-decoration: none;
}

header {
  background-color: #be264c;
  justify-content: left;
  width: 100%;
}
header a {
  padding: 0.3rem 2rem 0.3rem 2rem;
  font-family: "Bitter", serif;
  font-size: 1.2rem;
  color: white;
}
header a:hover {
  text-decoration: underline 2px solid white;
}
header nav {
  height: 5vh;
  align-items: center;
}

h2 {
  color: #324376;
  font-size: 1.8em;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
main div {
  padding: 1em 0 1em 0;
}

about-me {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 5rem 0;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./image/severin3.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 95vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
about-me div {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  order: 2;
  width: 40em;
  margin: 0 1rem 0 10rem;
  font-size: 1.6em;
}
about-me div h2 {
  color: white;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

latest-articles {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
  width: 65%;
}
latest-articles h2 {
  text-align: center;
  margin: 2em 0;
}
latest-articles .articles {
  justify-content: space-between;
  display: flex;
  padding: 0;
}
latest-articles .article {
  width: 30%;
  display: flex;
  flex-direction: column;
}
latest-articles .article h3 {
  margin: 1em 0 0 0;
}
latest-articles .article img {
  width: 20em;
}
latest-articles a {
  color: #000000;
}
latest-articles a:hover {
  color: #be264c;
}

my-skills, my-article {
  width: 50%;
}

my-skills {
  margin: 10em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
my-skills div {
  padding: 0;
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
my-skills h2 {
  display: flex;
}
my-skills ul {
  margin: 0;
  padding: 0;
}
my-skills li {
  margin: 0.5em 0;
  padding: 0.5rem 2rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 100px/120px;
  height: 2rem;
  background: rgb(245, 221, 144);
}
my-skills li a:hover {
  color: #be264c;
}

my-article {
  margin: 5em 0;
}
my-article span {
  font-size: 0.9em;
  color: grey;
}
my-article span:last-child {
  margin-top: 12em;
}
my-article img {
  width: 100%;
}
my-article a {
  display: inline;
  text-decoration: underline;
}

my-blog {
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
my-blog div {
  margin: 1em 0;
  display: flex;
  width: 48%;
  flex-direction: column;
}
my-blog a {
  color: #324376;
  flex-direction: column;
}
my-blog a:hover {
  text-decoration: none;
  color: #be264c;
}
my-blog span {
  font-size: 0.9em;
  color: grey;
}
my-blog h3 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
my-blog img {
  width: 100%;
}

footer {
  flex-wrap: wrap;
  height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: white;
  font-size: 0.9em;
  padding: 1.5rem 0 0 0;
  margin: 15em 0 0 0;
}
footer div, footer nav {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 0 4rem;
}
footer a {
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: white;
}
footer a:hover {
  text-decoration: underline 1px solid white;
}
footer p {
  width: 20rem;
  margin: 0 1rem;
  display: flex;
}
footer span {
  width: 100%;
  justify-content: center;
  display: flex;
}

book-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10em 0 0 0;
  flex-direction: row;
  justify-content: flex-start;
}
book-list .book {
  background-color: rgba(155, 131, 131, 0.089);
  border-radius: 2%;
  margin: 1em;
  padding: 0.6em;
  width: 20em;
  font-size: 0.9em;
}
book-list .book p {
  margin: 0.5em 0;
}
book-list .book span {
  font-size: 0.8em;
  color: #be264c;
}
book-list .book h3 {
  margin: 0.5em 0;
}

cheese-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10em 0 0 0;
  flex-direction: row;
  justify-content: flex-start;
}
cheese-list .cheese {
  background-color: rgba(155, 131, 131, 0.089);
  border-radius: 2%;
  margin: 1em;
  padding: 0.6em;
  width: 20em;
  font-size: 0.9em;
}
cheese-list .cheese p {
  margin: 0.5em 0;
}
cheese-list .cheese span {
  font-size: 0.8em;
  color: #be264c;
}
cheese-list .cheese h3 {
  margin: 0.5em 0;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 5em 0 0 0;
  width: 40%;
}

search {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 10px;
}
search label {
  font-size: 1.1em;
  font-weight: bold;
  color: #324376;
  margin: 0 0 0 0.5em;
}
search div {
  width: 100%;
  display: flex;
  height: 35px;
  background-color: #f0e9e9;
  border-radius: 20px;
  padding: 0.5em;
}
search input[type=text], search button {
  border: none;
  background: none;
  outline: none;
  line-height: 1;
}
search input {
  width: 100%;
}
search input[type=text]::placeholder {
  color: #666060;
  font-size: 1.2em;
}
search button {
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0 0 0;
  padding: 0 1em;
}
form label {
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f0e9e9;
}
form label:hover {
  color: #be264c;
}
form input[type=checkbox] + label {
  background-color: #ddd;
  padding: 10px;
  display: block;
}
form input[type=checkbox]:checked + label {
  background-color: green;
}

@media screen and (max-width: 1500px) {
  latest-articles {
    width: 90%;
  }
}
@media screen and (max-width: 1250px) {
  latest-articles, my-skills, my-article, my-blog, book-list, cheese-list {
    width: 90%;
  }
  .info {
    width: 80%;
  }
  latest-articles .articles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  latest-articles .article {
    width: 70%;
  }
  latest-articles .article img {
    width: 100%;
  }
  header a {
    padding: 0.3rem 1rem 0.3rem 1rem;
  }
}
@media screen and (max-width: 860px) {
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 2em 0;
    margin: 10em 0 0 0;
  }
  footer p {
    width: 80%;
  }
  footer div, footer nav {
    margin: 0 0;
  }
  footer a {
    justify-content: center;
  }
  latest-articles .article {
    width: 90%;
  }
  about-me div {
    margin: 0 0 0 1em;
  }
  about-me h2 {
    font-size: 0.9em;
  }
  my-skills li {
    font-size: 0.8em;
  }
  my-blog {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  my-blog div {
    width: 80%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
