body {
  background-color: black;
  color: white;
  padding: 0 24px;
  margin: 0;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header, footer, a {
  display: flex;
}

a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline 2px solid #ffffff;
}

main {
  width: 50%;
  margin: 0;
  padding: 0;
}
main div {
  padding: 1em 0 1em 0;
}

about-me h2 {
  flex-grow: 1;
}
about-me img {
  width: 100px;
  border-radius: 50%;
}
