$primary-color: black;

%margin-padding {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  color: $primary-color;
  display: flex;
  margin-left: 35vh;
}

a[href] {
  color: $primary-color;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 1024px;
}

header {
  width: 100%;
  display: flex;
  
  nav {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  a {
    float: left;
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    padding: 1.2em;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0);
  }
  a:hover {
    background-color: #e6f9ff;
  }
  a[href] {
    color: #0059b3;
    text-decoration: none;
  }
}

main {
  margin: 0;
  padding: 0 1.5em;
  display: flex;
  img {
  display: block;
  width: 200px;
  height: auto;
  padding-top: 1.5em;
  }
}

h1 {
  display: block;
  margin: 3vh 0 0 0;
  padding: 0;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 12px;
  padding: 20px 0 20px 0;
  color: $primary-color;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  p {
    margin: 8px 0;
  }
  ul {
    list-style-type: circle;
    padding-left: 18px;
    margin: 0;
  }
  li {
    margin: 8px 0;
    padding: 0;
  }
  a[href] {
    text-decoration: underline dotted #FF3028 1px;
  }
}

@media (max-width: 1400px) {
  html {margin-left: 10vh;}
}

@media (max-width: 1024px) {
  html {margin-left: 0;}
  div {display: none;}
  body {width: 100%}
  main { }
}

.btn:hover {
  border-bottom: 2px solid #80e1ff;
}