html {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  color: black;
  display: flex;
  margin-left: 35vh;
}

a[href] {
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 1024px;
}

header {
  width: 100%;
  display: flex;
}
header nav {
  margin: 0;
  padding: 0;
  height: 100%;
}
header a {
  float: left;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 1.2em;
}
header a:hover {
  background-color: #e6f9ff;
}
header a[href] {
  color: #0059b3;
  text-decoration: none;
}

main {
  margin: 0;
  padding: 0 1.5em;
  display: flex;
}
main img {
  display: block;
  width: 200px;
  height: auto;
  padding-top: 1.5em;
}

h1 {
  display: block;
  margin: 3vh 0 0 0;
  padding: 0;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 12px;
  padding: 20px 0 20px 0;
  color: black;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
article p {
  margin: 8px 0;
}
article ul {
  list-style-type: circle;
  padding-left: 18px;
  margin: 0;
}
article li {
  margin: 8px 0;
  padding: 0;
}
article a[href] {
  text-decoration: underline dotted #FF3028 1px;
}

@media (max-width: 1400px) {
  html {
    margin-left: 10vh;
  }
}
@media (max-width: 1024px) {
  html {
    margin-left: 0;
  }
  div {
    display: none;
  }
  body {
    width: 100%;
  }
}
.active, .btn:hover {
  border-bottom: 2px solid #80e1ff;
}
